# Lattice Diamond generated directories
impl*/
synthesis/
simulation/

# Generated implementation files
*.bit
*.jed
*.svf

# Reports / intermediate files
*.rpt
*.log
*.tmp
*.bak

# Database / synthesis intermediate files
*.ngo
*.ngd
*.ncd
*.prf
*.twr

# Editor/system junk
.DS_Store
Thumbs.db

#other simulator
work/
work/uart

#transcript
transcript

.wfl
.html
.ccl
.xml
.ini
.dir/
/work_uart
vsim.wlf
/uart_communication_stack_tcr.dir
uart_communication_stack_tcl.html
uart_communication_stack1.sty
promote.xml
reportview.xml
.spreadsheet_view.ini
.spread_sheet.ini
.setting.ini
.run_manager.ini
uart_communication_stack.ccl
.recovery
