# Lattice Diamond generated directories
impl*/
synthesis/
simulation/

# Generated implementation files
*.bit
*.jed
*.svf

# Reports / intermediate files
*.rpt
*.log
*.tmp
*.bak

# Database / synthesis intermediate files
*.ngo
*.ngd
*.ncd
*.prf
*.twr

# Editor/system junk
.DS_Store
Thumbs.db

#other simulator
work/
work/uart

#transcript
transcript

.wfl
.html
.ccl
.xml
.ini
.dir/
/work_uart
.wlf
*.sty
*.run_manager.ini
.lpf
*.ini
*.ccl
.recovery
wlftjzy3r3
*.txt
*.tcr
*.sty
*.html
*.xml
