LOCATE COMP "TX" SITE "75" ;
IOBUF PORT "RESET" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "RESET" SITE "74" ;
USE PRIMARY NET "oscillator_clock" ;
FREQUENCY NET "oscillator_clock" 38.000000 MHz ;
IOBUF PORT "TX" PULLMODE=DOWN IO_TYPE=LVCMOS25 SLEWRATE=FAST CLAMP=OFF HYSTERESIS=NA ;
OUTPUT PORT "TX" LOAD 0.000000 pF ;
